h1{
    width: 40%;
    padding: 30px; 
    margin:50px auto;
    margin-top: 20px;
    font-style: poppins;
    font-weight: bold;
    color: black;
    background-image: linear-gradient(red accent,soft purple);
    border: solid 30px rgb(0,225,255)
   

}
