h1{
    width: 40%;
    padding: 30px; 
    margin:50px auto;
    margin-top: 20px;
    font-style: poppins;
    font-weight: bold;
    color: black;
    background-image: linear-gradient(rgb(8, 161, 164),rgb(20, 186, 112));
    border: solid 10px rgb(192, 5, 5)
   

}
